@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald\ Bold.woff2') format('woff2'),
  url('../fonts/Oswald\ Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald\ Regular.woff2') format('woff2'),
  url('../fonts/Oswald\ Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family:'Poppins';
  src: url('../fonts/Poppins\ Bold.woff2') format('woff2'),
  url('../fonts/Poppins\ Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

@font-face {
  font-family:'Poppins';
  src: url('../fonts/Poppins\ Regular.woff2') format('woff2'),
  url('../fonts/Poppins\ Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(90deg, rgba(0, 158, 223, 1) 0%, rgba(255, 210, 0, 1) 75%);
  font-family: 'poppins';
  font-weight: 400;
}

header {
  background: linear-gradient(
    45deg,
    rgba(0, 158, 223, 1) 0%,
    rgba(255, 210, 0, 1) 25%,
    rgba(230, 40, 14, 1) 75%,
    rgba(70, 173, 55, 1) 100%
  );
  padding: 1rem 1rem;
}

h1 {
  font-family: 'Oswald';
  font-weight: 700;
}

h2 {
  padding: 1rem 0;
}

p {
  padding: 1rem 0;
}

ul {
  list-style-type: '🍌';
}

li {
  padding: 10px;
}

img {
  padding: 1rem;
  width: 15rem;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

footer {
  background: #e15f19;background: linear-gradient(
    45deg,
    rgba(0, 158, 223, 1) 0%,
    rgba(255, 210, 0, 1) 25%,
    rgba(230, 40, 14, 1) 75%,
    rgba(70, 173, 55, 1) 100%
  );
  padding: 1rem 1rem;
}